body {
  display: flex;
  justify-content: center;
  align-items: center;
}



.calculator {
  transform: scale(.8);
  padding: 30px;
  width: 600px;
  height: 850px;
  border-radius: 74px;
  background: linear-gradient(145deg, #443d4b, #504959);
  box-shadow:  41px 41px 82px #201d23,
             -41px -41px 82px #776b83;
}

.display-screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  width: 96%;
  height: 200px;
  padding-right: 20px;
  border-radius: 25px;
  background: transparent;
  font-family: 'Roboto Mono', monospace; /* You can use any monospace font */
  font-size: 50px;
  font-weight: 700;
  color: #ffffff; /* White text color */
}

.buttons-container {
  text-align: center;
  padding: 30px;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 3fr 1fr; 
  grid-template-rows: 1fr 4fr; 
  grid-template-areas: 
    "symbols operations"
    "numbers operations"; 
}
.operations { grid-area: operations; }
.symbols { grid-area: symbols; }
.numbers { grid-area: numbers; }

.symbols,
.numbers {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.operations {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.num {
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border: 1px solid transparent;
  color: #f8dbeb;
  font-size: 50px;
  font-weight: 900;
  background: linear-gradient(145deg, #504959, #443d4b);
  box-shadow:  9px 9px 18px #332e38,
             -9px -9px 18px #635a6e;
}

.num:hover {filter: brightness(0.9);}

.num:active {
  filter: brightness(0.7);
  transform: translateY(4px);
}

@media (max-width:767px) {
  .calculator {
    transform: scale(.5);
  }
}